@model CinemaHall

<form action="~/Admin/CinemaHall/Update/@Model.Id" method="post" enctype="multipart/form-data">
    <div>
        <label for="exampleFormControlInput1" class="form-label">CinemaHall Image</label>
        
        <img src="~/images/Admin/CinemaHalls/@Model.Image" alt="CinemaHall Image" class="form-control img-thumbnail" style="max-width: 200px;">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">CinemaHall Name</label>
            <input type="text" class="form-control" asp-for="Name" value="@Model.Name">
             <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CinemaHall Image</label>
                <input type="file" class="form-control" name="Image" value="@Model.Image">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CinemaHall Location</label>
                <input type="text" class="form-control" asp-for="Location" value="@Model.Location">
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-warning">Update</button>
                <a href="~/Admin/Movie/Index" class="btn btn-secondary">Cancel</a>
            </form>